*{
  margin: 0;
  padding: 0;
}
body{
  background-color: hsl(200, 30%, 15%);
  position: relative;
  font-family: 'Montserrat', 'sans-serif';
  top: 0%;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: hsl(200, 30%, 12%);
  height: 60px;
}
#site-name {
  padding: 12px 0px 0px 12px;
  color: hsl(10, 90%, 50%);
  vertical-align: baseline;
}
#icon {
  height: 24px;
  width: 24px;
  margin-left: 2px;
  transform: rotate(20deg);
}
li {
  position: relative;
  top: 24px;
  right: 16px;
  list-style: none;
  cursor: pointer;
}
p {
  color: white;
}
main {
  position: relative;
  text-align: center;
  top: 30vh;
  margin: auto;
  padding: 20px;
  padding-bottom: 40px;
  max-width: 1000px;
  border: solid 3px white;
}
input {
  padding-left: 6px;
  margin: 20px 6px 10px 0;
  height: 26px;
  width: 75%;
}
button {
  height: 26px;
  width: 60px;
  border: none;
  background-color:hsl(10, 90%, 50%);
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
#output {
  margin-top: 20px;
}
footer {
  position:fixed;
  bottom: 0px;
  height: 20px;
  text-align: right;
  font-size: 12px;
  padding: 10px;
}
a, a:visited, a:link {
  text-decoration: none;
  color: white;
}
a.hover:hover {
  color: gold;
}
@media (max-width: 1199px) {
  main {
    border: none;
  }
}
